extends ./layout/index.pug
block compartircontenido
    main.bg-degradado-acerca-de
        .row.text-dark.py-5
            .col.text-center
                figure.figure
                img.figure-img.img-fluid.rounded(src='/img/gatito.jpg' alt='Imagen Dev' width="50%")
                figcaption.figure-caption Un ctm más, --.
            .col
                h1 Adrian Enrique Valdivia Cabañas
                p.lead-xl Estudiante de Ingeniería en Computación 
                p.lead-xl FES Aragón UNAM
                p.lead-xl 7mo Semestre
                p.lead-xl Experiencia como:
                .text-center 
                    p.lead-xl Trainee Desarrollador  (1 Mes)
                    p.lead-xl Becario TI             (2 Meses)
                    p.lead-xl Agente de Tráfico Aéreo(1 año)

        .row.text-dark.py-5
            .col.text-center
                figure.figure
                img.figure-img.img-fluid.rounded(src='/img/liss.jpg' alt='Imagen Dev' width="50%")
                figcaption.figure-caption Nombre, lugar.
            .col
                h1 Nombre
                p.lead-xl Estudiante de Ingeniería en Computación 
                p.lead-xl FES Aragón UNAM
                p.lead-xl 7mo Semestre
                p.lead-xl Experiencia como:
                .text-center 
                    p.lead-xl Puesto  (Tiempo)
                    p.lead-xl Puesto  (Tiempo)
                    p.lead-xl Puesto  (Tiempo)

        .row.text-dark.py-5
            .col.text-center
                figure.figure
                img.figure-img.img-fluid.rounded(src='/img/omar.jpg' alt='Imagen Dev' width="50%")
                figcaption.figure-caption Nombre, lugar.
            .col
                h1 Nombre
                p.lead-xl Estudiante de Ingeniería en Computación 
                p.lead-xl FES Aragón UNAM
                p.lead-xl 7mo Semestre
                p.lead-xl Experiencia como:
                .text-center 
                    p.lead-xl Puesto  (Tiempo)
                    p.lead-xl Puesto  (Tiempo)
                    p.lead-xl Puesto  (Tiempo)