extends ./layout/index.pug
block compartircontenido
    main 
        .row.no-gutters
            .col-lg-1.border-right.d-none.d-lg-block
                .d-flex
                    ul.list-unstyled.align-self-center.mx-auto
                        li.sideways
                            a.text-light(href="#") Instagram 
                        li.sideways
                            a.text-light(href="#") Facebook
                        li.sideways
                            a.text-light(href="https://www.youtube.com/watch?v=qKZlh2XhHHM") YouTube 
                        
            .col-lg-4.d-flex
                .container.align-self-center.px-5.content
                    h1.text-uppercase.font-weight-bold.mb-4 Gestor de hotelería,
                    h1.text-uppercase.font-weight-bold.mb-4 lo último en tecnología.
                    p.lead-xl.mb-4 Ofrecemos una gestión eficaz de hoteles maximizando la experiencia del usuario.
                    a.btn.btn-primary-mine(href="/registrarHoteles") Empieza ahora
            .col-lg-7
                img.img-fluid(src="/img/mirador.jpg")
            .col-lg-1

            
                    
                    