/*Paleta de Colores*/
:root {
    --color1:  #cf8b28 ; /*header y pag principal */
    --color2:  #edc194 ;
    --color3:  #916014 ;
    --color4:  #947559 ; /*Footer*/
    --color5:  #c3aa93 ; 
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    background-color: var(--color1);
    letter-spacing: .05rem;
}

.lead-xl {
    font-size: 1.75rem;
}

.nav-link {
    margin-left: 2rem;
    color: rgb(255, 253, 253);    
}

.sideways { 
    writing-mode: vertical-lr;
    display: block;
    margin: 3.5rem 0;
    transform: rotate(-180deg);
}

.btn-primary-mine {
    background-color: transparent;
    border: 1px solid var(--color2);
    border-radius: 0;
    color: var(--color2);
    padding: -7rem 2.5rem;
    font-size: 1.25rem;
}

.btn-primary-mine:hover {
    background-color: var(--color2);
    color: var(--color1);
    border: 1px solid var(--color2);
}

.navbar {
    min-height: 5rem;
}

.navbar-brand {
    min-height: 5rem;
}

.bg-light {
    background-color: var(--color2);
}

.bg-grey {
    background-color: var(--color4);
}

.border-right {
    border-right: 1px solid rgba(256,256,256,.1) !important;
}

.text-dark {
    color: var(--color1);
}

@media (max-width: 1199.98px) {
    .sideways {
        margin: 2rem 0;
    }

    .lead-xl {
        font-size: 1.25rem;
    }
}

@media (max-width:991.98px){
    .content {
        padding: 5rem 0;
    }
}

.bg {
    background-image: url("../img/mirador.jpg");
    background-position: center center;
}

/*No tiene ningún degradado, dejamos color base.*/
.bg-degradado {
    background: #ffe259;
    background: linear-gradient(to right, #ffffff, #ffffff);
}


.bg-habitaciones {
    background-image: url("../img/1.jpg");
    background-position: center center;
}

/*Dropdown-NavBar*/
.dropdown-menu{
    background-color: var(--color1);
    color: white;
}

.dropdown-item{
    background-color:  var(--color1);
    color: rgb(223, 223, 223);
}

.dropdown-item:hover{
    background-color: var(--color2);
    color: white;
}

/*Tabla-Hoteles&Habitaciones*/
table {
    width: 100%;
}

/*Formato-TablaFiltro*/
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr { /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

  /*Slider*/

.btn-switch {
  font-size: 1.2em;
	position: relative;
	display: inline-block;		
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    width: 8em;
    height: 3em;
}
.btn-switch__radio {
	display: none;
}
.btn-switch__label {
	display: inline-block;	
	padding: .75em .5em .75em .75em;
	vertical-align: top;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.5;
	color: #666;
  cursor: pointer;
	transition: color .2s ease-in-out;
}
.btn-switch__label + .btn-switch__label {
  padding-right: .75em;
	padding-left: 0;
}
.btn-switch__txt {
	position: relative;
	z-index: 2;
  display: inline-block;
   min-width: 1.5em;
	opacity: 1;
	pointer-events: none;
	transition: opacity .2s ease-in-out;
}
.btn-switch__radio_no:checked ~ .btn-switch__label_yes .btn-switch__txt,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no .btn-switch__txt {
	opacity: 0;
}
.btn-switch__label:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #f0f0f0;
	border-radius: 1.5em;
	box-shadow: inset 0 .0715em .3572em rgba(43,43,43,.05);
	transition: background .2s ease-in-out;
}
.btn-switch__radio_yes:checked ~ .btn-switch__label:before {
	background: #6ad500;
}
.btn-switch__label_no:after {
	content: "";
	position: absolute;
	z-index: 2;
	top: .5em;
	bottom: .5em;
	left: .5em;
	width: 2em;
    height: 2em;
	background: #fff;
	border-radius: 1em;	
	pointer-events: none;
	box-shadow: 0 .1429em .2143em rgba(43,43,43,.2), 0 .3572em .3572em rgba(43,43,43,.1);
	transition: left .2s ease-in-out, background .2s ease-in-out;
}
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:after {
	left: calc(100% - 2.5em);
	background: #fff;
}
.btn-switch__radio_no:checked ~ .btn-switch__label_yes:before,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:before {
	z-index: 1;
}
.btn-switch__radio_yes:checked ~ .btn-switch__label_yes {
	color: #fff;
}