footer.bd-footer.bg-grey(id="footer")
  .container.py-4.py-md-5.px-4.px-md-3
    .row.text-dark
      .col-lg-3.mb-3
        Copyright © 2022 HotelesZacatlan.com™. Todos los derechos reservados.
      .col-6.col-lg-2.offset-lg-1.mb-3
        h5 Nosotros
        ul.list-unstyled
          li.mb-2
            a(href='/') Inicio
      .col-6.col-lg-2.mb-3
        h5 Gerentes
        ul.list-unstyled
          li.mb-2
            a(href='/registrargerentes') Registro
          li.mb-2
            a(href='/gerentes') Consulta
      .col-6.col-lg-2.mb-3
        h5 Hoteles
        ul.list-unstyled
          li.mb-2
            a(href='/registrarhoteles') Registro
          li.mb-2
            a(href='/consultarhoteles') Consulta
      .col-6.col-lg-2.mb-3
        h5 Habitaciones
        ul.list-unstyled
          li.mb-2
            a(href='/registrarhabitaciones') Registro
          li.mb-2
            a(href='/consultarhabitaciones') Consulta